


<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.niit">

    <!-- ====== Permissions (NIVEAU MANIFEST) ====== -->
    <!-- Caméra -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Accès images: Android 13+ (API 33+) -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!-- Accès images: Android 12L et moins (API <= 32) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />

    <!-- Réseau (appel API, OCR côté serveur, etc.) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- (Optionnel) Déclarer que l’app utilise une caméra (pas obligatoire) -->
    <!-- <uses-feature android:name="android.hardware.camera.any" android:required="false" /> -->

    <application
        android:label="niit"
        android:name="${applicationName}"
        android:icon="@mipmap/launcher_icon">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Ne pas supprimer : utilisé par Flutter -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- Visibilité des paquets : plugin ProcessText de Flutter -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>

</manifest>


